In [1]:
import sqlite3
import pandas as pd
import os

print("üîß CREATING PRODUCTION-LIKE DATABASE STRUCTURE")
print("="*70)

# –ó–∞–≥—Ä—É–∂–∞–µ–º –æ—á–∏—â–µ–Ω–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ
df_clean = pd.read_csv('lending_club_final.csv')
print(f"‚úÖ Loaded data: {len(df_clean):,} loans")

# –°–æ–∑–¥–∞–µ–º SQLite –±–∞–∑—É –¥–∞–Ω–Ω—ã—Ö
conn = sqlite3.connect('lending_club.db')
cursor = conn.cursor()

print("\nüìä Creating normalized database structure...")
print("="*70)

# ============================================
# –¢–ê–ë–õ–ò–¶–ê 1: dim_borrowers (–∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –∑–∞–µ–º—â–∏–∫–∞—Ö)
# ============================================
print("\n1Ô∏è‚É£ Creating 'dim_borrowers' table...")

borrowers = df_clean[['id', 'annual_inc', 'emp_length', 'home_ownership', 
                       'fico_range_low', 'fico_range_high', 'dti', 
                       'delinq_2yrs', 'inq_last_6mths', 'open_acc', 
                       'pub_rec', 'revol_bal', 'revol_util', 'total_acc']].copy()

borrowers.columns = ['loan_id', 'annual_income', 'employment_length', 'home_ownership',
                     'fico_low', 'fico_high', 'debt_to_income', 'delinquencies_2yrs', 
                     'inquiries_6mths', 'open_accounts', 'public_records',
                     'revolving_balance', 'revolving_utilization', 'total_accounts']

borrowers.to_sql('dim_borrowers', conn, if_exists='replace', index=False)
print(f"   ‚úÖ Created with {len(borrowers):,} records")

# ============================================
# –¢–ê–ë–õ–ò–¶–ê 2: dim_loan_products (—Ö–∞—Ä–∞–∫—Ç–µ—Ä–∏—Å—Ç–∏–∫–∏ –∫—Ä–µ–¥–∏—Ç–æ–≤)
# ============================================
print("\n2Ô∏è‚É£ Creating 'dim_loan_products' table...")

products = df_clean[['id', 'loan_amnt', 'funded_amnt', 'term', 'int_rate', 
                      'installment', 'grade', 'sub_grade', 'purpose']].copy()

products.columns = ['loan_id', 'loan_amount', 'funded_amount', 'term', 'interest_rate',
                    'monthly_installment', 'grade', 'sub_grade', 'purpose']

products.to_sql('dim_loan_products', conn, if_exists='replace', index=False)
print(f"   ‚úÖ Created with {len(products):,} records")

# ============================================
# –¢–ê–ë–õ–ò–¶–ê 3: dim_geography (–≥–µ–æ–≥—Ä–∞—Ñ–∏—á–µ—Å–∫–∏–µ –¥–∞–Ω–Ω—ã–µ)
# ============================================
print("\n3Ô∏è‚É£ Creating 'dim_geography' table...")

geography = df_clean[['id', 'addr_state', 'zip_code']].copy()
geography.columns = ['loan_id', 'state', 'zip_code']

geography.to_sql('dim_geography', conn, if_exists='replace', index=False)
print(f"   ‚úÖ Created with {len(geography):,} records")

# ============================================
# –¢–ê–ë–õ–ò–¶–ê 4: fact_loan_performance (—Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã/—Å—Ç–∞—Ç—É—Å)
# ============================================
print("\n4Ô∏è‚É£ Creating 'fact_loan_performance' table...")

performance = df_clean[['id', 'loan_status', 'loan_outcome', 
                         'issue_d', 'issue_date', 'issue_year']].copy()

performance.columns = ['loan_id', 'loan_status', 'outcome', 
                       'issue_date_str', 'issue_date', 'issue_year']

performance.to_sql('fact_loan_performance', conn, if_exists='replace', index=False)
print(f"   ‚úÖ Created with {len(performance):,} records")

# ============================================
# –°–û–ó–î–ê–ù–ò–ï –ò–ù–î–ï–ö–°–û–í –¥–ª—è –æ–ø—Ç–∏–º–∏–∑–∞—Ü–∏–∏
# ============================================
print("\n5Ô∏è‚É£ Creating indexes for query optimization...")

indexes = [
    "CREATE INDEX IF NOT EXISTS idx_borrowers_loan_id ON dim_borrowers(loan_id)",
    "CREATE INDEX IF NOT EXISTS idx_products_loan_id ON dim_loan_products(loan_id)",
    "CREATE INDEX IF NOT EXISTS idx_geography_loan_id ON dim_geography(loan_id)",
    "CREATE INDEX IF NOT EXISTS idx_performance_loan_id ON fact_loan_performance(loan_id)",
    "CREATE INDEX IF NOT EXISTS idx_performance_outcome ON fact_loan_performance(outcome)",
    "CREATE INDEX IF NOT EXISTS idx_products_grade ON dim_loan_products(grade)",
    "CREATE INDEX IF NOT EXISTS idx_geography_state ON dim_geography(state)",
]

for idx_query in indexes:
    cursor.execute(idx_query)
    
conn.commit()
print("   ‚úÖ Created 7 indexes")

# ============================================
# –ü–†–û–í–ï–†–ö–ê –°–û–ó–î–ê–ù–ù–´–• –¢–ê–ë–õ–ò–¶
# ============================================
print("\n" + "="*70)
print("üìä DATABASE SUMMARY:")
print("="*70)

cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")
tables = cursor.fetchall()

for table in tables:
    table_name = table[0]
    cursor.execute(f"SELECT COUNT(*) FROM {table_name}")
    count = cursor.fetchone()[0]
    print(f"   ‚úÖ {table_name}: {count:,} records")

print("\n" + "="*70)
print("‚úÖ DATABASE CREATED SUCCESSFULLY!")
print("="*70)
print(f"\nDatabase file: {os.path.abspath('lending_club.db')}")
print(f"Size: {os.path.getsize('lending_club.db') / (1024**2):.2f} MB")

conn.close()

üîß CREATING PRODUCTION-LIKE DATABASE STRUCTURE
======================================================================
‚úÖ Loaded data: 1,347,721 loans

üìä Creating normalized database structure...
======================================================================

1Ô∏è‚É£ Creating 'dim_borrowers' table...
   ‚úÖ Created with 1,347,721 records

2Ô∏è‚É£ Creating 'dim_loan_products' table...
   ‚úÖ Created with 1,347,721 records

3Ô∏è‚É£ Creating 'dim_geography' table...
   ‚úÖ Created with 1,347,721 records

4Ô∏è‚É£ Creating 'fact_loan_performance' table...
   ‚úÖ Created with 1,347,721 records

5Ô∏è‚É£ Creating indexes for query optimization...
   ‚úÖ Created 7 indexes

======================================================================
üìä DATABASE SUMMARY:
======================================================================
   ‚úÖ dim_borrowers: 1,347,721 records
   ‚úÖ dim_loan_products: 1,347,721 records
   ‚úÖ dim_geography: 1,347,721 records
   ‚úÖ fact_loan_performance: 1,347,721 records

======================================================================
‚úÖ DATABASE CREATED SUCCESSFULLY!
======================================================================

Database file: C:\Users\User\lending_club.db
Size: 375.04 MB

In [5]:
import sqlite3
import pandas as pd

print("\n" + "="*80)
print("üìä SQL QUERY 1: CUSTOM RISK SCORING MODEL")
print("="*80)

# –ü–æ–¥–∫–ª—é—á–∞–µ–º—Å—è –∫ –ë–î
conn = sqlite3.connect('lending_club.db')

# –°–õ–û–ñ–ù–´–ô SQL –ó–ê–ü–†–û–° —Å CTE –∏ CASE WHEN
query1 = """
WITH risk_factors AS (
    -- –®–∞–≥ 1: –†–∞—Å—Å—á–∏—Ç—ã–≤–∞–µ–º risk score –¥–ª—è –∫–∞–∂–¥–æ–≥–æ —Ñ–∞–∫—Ç–æ—Ä–∞
    SELECT 
        perf.loan_id,
        p.grade,
        p.term,
        p.loan_amount,
        p.interest_rate,
        b.annual_income,
        b.debt_to_income,
        b.fico_low,
        perf.outcome,
        
        -- Risk Score Components (1 = –Ω–∏–∑–∫–∏–π —Ä–∏—Å–∫, 4 = –≤—ã—Å–æ–∫–∏–π —Ä–∏—Å–∫)
        CASE 
            WHEN p.grade IN ('A', 'B') THEN 1
            WHEN p.grade IN ('C', 'D') THEN 2
            WHEN p.grade IN ('E', 'F') THEN 3
            ELSE 4
        END as grade_risk_score,
        
        CASE 
    WHEN b.debt_to_income < 10 THEN 1   -- –ë–æ–ª–µ–µ —Å—Ç—Ä–æ–≥–æ!
    WHEN b.debt_to_income < 20 THEN 2
    WHEN b.debt_to_income < 30 THEN 3
    ELSE 4
END as dti_risk_score,        
        CASE 
            WHEN b.fico_low >= 750 THEN 1
            WHEN b.fico_low >= 700 THEN 2
            WHEN b.fico_low >= 650 THEN 3
            ELSE 4
        END as fico_risk_score,
        
        CASE 
            WHEN p.term = ' 36 months' THEN 1
            ELSE 2
        END as term_risk_score
        
    FROM fact_loan_performance perf
    INNER JOIN dim_loan_products p ON perf.loan_id = p.loan_id
    INNER JOIN dim_borrowers b ON perf.loan_id = b.loan_id
    WHERE perf.outcome IN ('Good', 'Bad')
)
-- –®–∞–≥ 2: –ê–≥—Ä–µ–≥–∏—Ä—É–µ–º –ø–æ composite risk score
SELECT 
    (grade_risk_score + dti_risk_score + fico_risk_score + term_risk_score) as composite_risk_score,
    COUNT(*) as loan_count,
    ROUND(100.0 * SUM(CASE WHEN outcome = 'Bad' THEN 1 ELSE 0 END) / COUNT(*), 2) as default_rate,
    ROUND(AVG(loan_amount), 0) as avg_loan_amount,
    ROUND(AVG(interest_rate), 2) as avg_interest_rate,
    ROUND(AVG(debt_to_income), 2) as avg_dti,
    ROUND(AVG(fico_low), 0) as avg_fico
FROM risk_factors
GROUP BY composite_risk_score
ORDER BY composite_risk_score;
"""

# –í—ã–ø–æ–ª–Ω—è–µ–º –∑–∞–ø—Ä–æ—Å
result1 = pd.read_sql_query(query1, conn)

print("\nüéØ Results: Risk Score vs Default Rate")
print("-"*80)
print(result1.to_string(index=False))

print("\nüí° Key Insights:")
print(f"   ‚Ä¢ Lowest risk score ({result1['composite_risk_score'].min()}): {result1.iloc[0]['default_rate']:.2f}% default rate")
print(f"   ‚Ä¢ Highest risk score ({result1['composite_risk_score'].max()}): {result1.iloc[-1]['default_rate']:.2f}% default rate")
print(f"   ‚Ä¢ Risk correlation: {result1.iloc[-1]['default_rate'] / result1.iloc[0]['default_rate']:.1f}x higher for max vs min score")

conn.close()

print("\n" + "="*80)
print("‚úÖ QUERY 1 COMPLETED!")
print("="*80)

================================================================================
üìä SQL QUERY 1: CUSTOM RISK SCORING MODEL
================================================================================

üéØ Results: Risk Score vs Default Rate
--------------------------------------------------------------------------------
 composite_risk_score  loan_count  default_rate  avg_loan_amount  avg_interest_rate  avg_dti  avg_fico
                    4       24823          4.83          13296.0               7.24     5.64     778.0
                    5       83109          6.76          13733.0               8.31     9.64     744.0
                    6      203740          9.48          13621.0               9.54    12.61     713.0
                    7      305386         14.18          13323.0              11.35    15.70     695.0
                    8      308005         20.16          13818.0              13.70    18.84     687.0
                    9      231873         27.36          15130.0              15.80    22.57     683.0
                   10      127638         34.77          16642.0              18.05    26.56     680.0
                   11       48995         45.51          18967.0              21.18    29.02     678.0
                   12       13123         53.50          20122.0              23.55    33.31     676.0
                   13        1029         60.54          20644.0              28.60    37.57     673.0

üí° Key Insights:
   ‚Ä¢ Lowest risk score (4): 4.83% default rate
   ‚Ä¢ Highest risk score (13): 60.54% default rate
   ‚Ä¢ Risk correlation: 12.5x higher for max vs min score

================================================================================
‚úÖ QUERY 1 COMPLETED!
================================================================================

In [6]:
import sqlite3
import pandas as pd

print("\n" + "="*80)
print("üëÄ EXPLORING DATABASE TABLES")
print("="*80)

# –ü–æ–¥–∫–ª—é—á–∞–µ–º—Å—è –∫ –ë–î
conn = sqlite3.connect('lending_club.db')

# ============================================
# –¢–ê–ë–õ–ò–¶–ê 1: dim_borrowers
# ============================================
print("\nüìä TABLE 1: dim_borrowers (–ò–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –∑–∞–µ–º—â–∏–∫–∞—Ö)")
print("-"*80)

query_borrowers = """
SELECT * FROM dim_borrowers LIMIT 10;
"""

df_borrowers = pd.read_sql_query(query_borrowers, conn)
print(df_borrowers)

print(f"\n   Total records: {pd.read_sql_query('SELECT COUNT(*) as cnt FROM dim_borrowers', conn)['cnt'][0]:,}")
print(f"   Columns: {len(df_borrowers.columns)}")

# ============================================
# –¢–ê–ë–õ–ò–¶–ê 2: dim_loan_products
# ============================================
print("\n\nüìä TABLE 2: dim_loan_products (–•–∞—Ä–∞–∫—Ç–µ—Ä–∏—Å—Ç–∏–∫–∏ –∫—Ä–µ–¥–∏—Ç–æ–≤)")
print("-"*80)

query_products = """
SELECT * FROM dim_loan_products LIMIT 10;
"""

df_products = pd.read_sql_query(query_products, conn)
print(df_products)

print(f"\n   Total records: {pd.read_sql_query('SELECT COUNT(*) as cnt FROM dim_loan_products', conn)['cnt'][0]:,}")
print(f"   Columns: {len(df_products.columns)}")

# ============================================
# –¢–ê–ë–õ–ò–¶–ê 3: dim_geography
# ============================================
print("\n\nüìä TABLE 3: dim_geography (–ì–µ–æ–≥—Ä–∞—Ñ–∏—è)")
print("-"*80)

query_geography = """
SELECT * FROM dim_geography LIMIT 10;
"""

df_geography = pd.read_sql_query(query_geography, conn)
print(df_geography)

print(f"\n   Total records: {pd.read_sql_query('SELECT COUNT(*) as cnt FROM dim_geography', conn)['cnt'][0]:,}")
print(f"   Columns: {len(df_geography.columns)}")

# ============================================
# –¢–ê–ë–õ–ò–¶–ê 4: fact_loan_performance
# ============================================
print("\n\nüìä TABLE 4: fact_loan_performance (–†–µ–∑—É–ª—å—Ç–∞—Ç—ã –∫—Ä–µ–¥–∏—Ç–æ–≤)")
print("-"*80)

query_performance = """
SELECT * FROM fact_loan_performance LIMIT 10;
"""

df_performance = pd.read_sql_query(query_performance, conn)
print(df_performance)

print(f"\n   Total records: {pd.read_sql_query('SELECT COUNT(*) as cnt FROM fact_loan_performance', conn)['cnt'][0]:,}")
print(f"   Columns: {len(df_performance.columns)}")

# ============================================
# –ü–†–ò–ú–ï–† JOIN 
# ============================================
print("\n\n" + "="*80)
print("üîó EXAMPLE: HOW TABLES ARE CONNECTED (JOIN)")
print("="*80)

query_join = """
SELECT 
    perf.loan_id,
    perf.outcome,
    p.grade,
    p.loan_amount,
    b.annual_income,
    b.fico_low,
    g.state
FROM fact_loan_performance perf
INNER JOIN dim_loan_products p ON perf.loan_id = p.loan_id
INNER JOIN dim_borrowers b ON perf.loan_id = b.loan_id
INNER JOIN dim_geography g ON perf.loan_id = g.loan_id
LIMIT 10;
"""

df_join = pd.read_sql_query(query_join, conn)
print("\n–ü—Ä–∏–º–µ—Ä –æ–±—ä–µ–¥–∏–Ω–µ–Ω–∏—è –≤—Å–µ—Ö 4 —Ç–∞–±–ª–∏—Ü:")
print(df_join)

# ============================================
# –°–¢–ê–¢–ò–°–¢–ò–ö–ê –ü–û –ö–ê–ñ–î–û–ô –¢–ê–ë–õ–ò–¶–ï
# ============================================
print("\n\n" + "="*80)
print("üìà TABLE STATISTICS")
print("="*80)

# dim_borrowers - —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –ø–æ FICO
print("\n1Ô∏è‚É£ dim_borrowers - FICO Score Distribution:")
fico_dist = pd.read_sql_query("""
    SELECT 
        CASE 
            WHEN fico_low < 650 THEN '600-650'
            WHEN fico_low < 700 THEN '650-700'
            WHEN fico_low < 750 THEN '700-750'
            ELSE '750+'
        END as fico_range,
        COUNT(*) as count
    FROM dim_borrowers
    GROUP BY fico_range
    ORDER BY fico_range;
""", conn)
print(fico_dist)

# dim_loan_products - —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –ø–æ Grade
print("\n2Ô∏è‚É£ dim_loan_products - Grade Distribution:")
grade_dist = pd.read_sql_query("""
    SELECT 
        grade,
        COUNT(*) as count,
        ROUND(AVG(loan_amount), 0) as avg_loan_amount,
        ROUND(AVG(interest_rate), 2) as avg_rate
    FROM dim_loan_products
    GROUP BY grade
    ORDER BY grade;
""", conn)
print(grade_dist)

# dim_geography - —Ç–æ–ø-10 —à—Ç–∞—Ç–æ–≤
print("\n3Ô∏è‚É£ dim_geography - Top 10 States:")
state_dist = pd.read_sql_query("""
    SELECT 
        state,
        COUNT(*) as loan_count
    FROM dim_geography
    GROUP BY state
    ORDER BY loan_count DESC
    LIMIT 10;
""", conn)
print(state_dist)

# fact_loan_performance - —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ outcomes
print("\n4Ô∏è‚É£ fact_loan_performance - Outcome Distribution:")
outcome_dist = pd.read_sql_query("""
    SELECT 
        outcome,
        COUNT(*) as count,
        ROUND(100.0 * COUNT(*) / SUM(COUNT(*)) OVER (), 2) as percentage
    FROM fact_loan_performance
    GROUP BY outcome;
""", conn)
print(outcome_dist)

conn.close()

print("\n" + "="*80)
print("‚úÖ DATABASE EXPLORATION COMPLETED!")
print("="*80)

================================================================================
üëÄ EXPLORING DATABASE TABLES
================================================================================

üìä TABLE 1: dim_borrowers (–ò–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –∑–∞–µ–º—â–∏–∫–∞—Ö)
--------------------------------------------------------------------------------
    loan_id  annual_income employment_length home_ownership  fico_low  \
0  68407277        55000.0         10+ years       MORTGAGE     675.0
1  68355089        65000.0         10+ years       MORTGAGE     715.0
2  68341763        63000.0         10+ years       MORTGAGE     695.0
3  68476807       104433.0           3 years       MORTGAGE     695.0
4  68426831        34000.0           4 years           RENT     690.0
5  68476668       180000.0         10+ years       MORTGAGE     680.0
6  67275481        85000.0         10+ years       MORTGAGE     705.0
7  68466926        85000.0           6 years           RENT     685.0
8  68616873        42000.0         10+ years       MORTGAGE     700.0
9  68338832        64000.0           3 years       MORTGAGE     700.0

   fico_high  debt_to_income  delinquencies_2yrs  inquiries_6mths  \
0      679.0            5.91                 0.0              1.0
1      719.0           16.06                 1.0              4.0
2      699.0           10.78                 0.0              0.0
3      699.0           25.37                 1.0              3.0
4      694.0           10.20                 0.0              0.0
5      684.0           14.67                 0.0              0.0
6      709.0           17.61                 1.0              0.0
7      689.0           13.07                 0.0              1.0
8      704.0           34.80                 0.0              0.0
9      704.0           34.95                 0.0              0.0

   open_accounts  public_records  revolving_balance  revolving_utilization  \
0            7.0             0.0             2765.0                   29.7
1           22.0             0.0            21470.0                   19.2
2            6.0             0.0             7869.0                   56.2
3           12.0             0.0            21929.0                   64.5
4            5.0             0.0             8822.0                   68.4
5           12.0             0.0            87329.0                   84.5
6            8.0             0.0              826.0                    5.7
7           14.0             1.0            10464.0                   34.5
8            8.0             0.0             7034.0                   39.1
9           17.0             0.0            37828.0                   67.2

   total_accounts
0            13.0
1            38.0
2            18.0
3            35.0
4             6.0
5            27.0
6            15.0
7            23.0
8            18.0
9            24.0

   Total records: 1,347,721
   Columns: 14


üìä TABLE 2: dim_loan_products (–•–∞—Ä–∞–∫—Ç–µ—Ä–∏—Å—Ç–∏–∫–∏ –∫—Ä–µ–¥–∏—Ç–æ–≤)
--------------------------------------------------------------------------------
    loan_id  loan_amount  funded_amount        term  interest_rate  \
0  68407277       3600.0         3600.0   36 months          13.99
1  68355089      24700.0        24700.0   36 months          11.99
2  68341763      20000.0        20000.0   60 months          10.78
3  68476807      10400.0        10400.0   60 months          22.45
4  68426831      11950.0        11950.0   36 months          13.44
5  68476668      20000.0        20000.0   36 months           9.17
6  67275481      20000.0        20000.0   36 months           8.49
7  68466926      10000.0        10000.0   36 months           6.49
8  68616873       8000.0         8000.0   36 months          11.48
9  68338832       1400.0         1400.0   36 months          12.88

   monthly_installment grade sub_grade             purpose
0               123.03     C        C4  debt_consolidation
1               820.28     C        C1      small_business
2               432.66     B        B4    home_improvement
3               289.91     F        F1      major_purchase
4               405.18     C        C3  debt_consolidation
5               637.58     B        B2  debt_consolidation
6               631.26     B        B1      major_purchase
7               306.45     A        A2         credit_card
8               263.74     B        B5         credit_card
9                47.10     C        C2               other

   Total records: 1,347,721
   Columns: 9


üìä TABLE 3: dim_geography (–ì–µ–æ–≥—Ä–∞—Ñ–∏—è)
--------------------------------------------------------------------------------
    loan_id state zip_code
0  68407277    PA    190xx
1  68355089    SD    577xx
2  68341763    IL    605xx
3  68476807    PA    174xx
4  68426831    GA    300xx
5  68476668    MN    550xx
6  67275481    SC    293xx
7  68466926    PA    160xx
8  68616873    RI    029xx
9  68338832    NC    275xx

   Total records: 1,347,721
   Columns: 3


üìä TABLE 4: fact_loan_performance (–†–µ–∑—É–ª—å—Ç–∞—Ç—ã –∫—Ä–µ–¥–∏—Ç–æ–≤)
--------------------------------------------------------------------------------
    loan_id loan_status outcome issue_date_str  issue_date  issue_year
0  68407277  Fully Paid    Good       Dec-2015  2015-12-01      2015.0
1  68355089  Fully Paid    Good       Dec-2015  2015-12-01      2015.0
2  68341763  Fully Paid    Good       Dec-2015  2015-12-01      2015.0
3  68476807  Fully Paid    Good       Dec-2015  2015-12-01      2015.0
4  68426831  Fully Paid    Good       Dec-2015  2015-12-01      2015.0
5  68476668  Fully Paid    Good       Dec-2015  2015-12-01      2015.0
6  67275481  Fully Paid    Good       Dec-2015  2015-12-01      2015.0
7  68466926  Fully Paid    Good       Dec-2015  2015-12-01      2015.0
8  68616873  Fully Paid    Good       Dec-2015  2015-12-01      2015.0
9  68338832  Fully Paid    Good       Dec-2015  2015-12-01      2015.0

   Total records: 1,347,721
   Columns: 6


================================================================================
üîó EXAMPLE: HOW TABLES ARE CONNECTED (JOIN)
================================================================================

–ü—Ä–∏–º–µ—Ä –æ–±—ä–µ–¥–∏–Ω–µ–Ω–∏—è –≤—Å–µ—Ö 4 —Ç–∞–±–ª–∏—Ü:
    loan_id outcome grade  loan_amount  annual_income  fico_low state
0  68407277    Good     C       3600.0        55000.0     675.0    PA
1  68355089    Good     C      24700.0        65000.0     715.0    SD
2  68341763    Good     B      20000.0        63000.0     695.0    IL
3  68476807    Good     F      10400.0       104433.0     695.0    PA
4  68426831    Good     C      11950.0        34000.0     690.0    GA
5  68476668    Good     B      20000.0       180000.0     680.0    MN
6  67275481    Good     B      20000.0        85000.0     705.0    SC
7  68466926    Good     A      10000.0        85000.0     685.0    PA
8  68616873    Good     B       8000.0        42000.0     700.0    RI
9  68338832    Good     C       1400.0        64000.0     700.0    NC


================================================================================
üìà TABLE STATISTICS
================================================================================

1Ô∏è‚É£ dim_borrowers - FICO Score Distribution:
  fico_range   count
0    600-650     231
1    650-700  822305
2    700-750  418583
3       750+  106602

2Ô∏è‚É£ dim_loan_products - Grade Distribution:
  grade   count  avg_loan_amount  avg_rate
0     A  235153          13889.0      7.11
1     B  393011          13233.0     10.68
2     C  382187          14179.0     14.02
3     D  201591          15248.0     17.71
4     E   94164          17567.0     21.11
5     F   32295          19033.0     24.88
6     G    9320          20407.0     27.54

3Ô∏è‚É£ dim_geography - Top 10 States:
  state  loan_count
0    CA      196806
1    TX      110311
2    NY      110082
3    FL       95820
4    IL       51861
5    NJ       48577
6    PA       45642
7    OH       43937
8    GA       43470
9    VA       38107

4Ô∏è‚É£ fact_loan_performance - Outcome Distribution:
  outcome    count  percentage
0     Bad   269289       19.98
1    Good  1078432       80.02

================================================================================
‚úÖ DATABASE EXPLORATION COMPLETED!
================================================================================

In [7]:
import sqlite3
import pandas as pd

print("\n" + "="*80)
print("üìä SQL QUERY 2: COHORT ANALYSIS - Default Rate by Year")
print("="*80)

# –ü–æ–¥–∫–ª—é—á–∞—é—Å—å –∫ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö
conn = sqlite3.connect('lending_club.db')

# COHORT ANALYSIS: –ê–Ω–∞–ª–∏–∑–∏—Ä—É—é –¥–µ—Ñ–æ–ª—Ç—ã –ø–æ –≥–æ–¥–∞–º –≤—ã–¥–∞—á–∏ –∫—Ä–µ–¥–∏—Ç–æ–≤
query2 = """
WITH cohort_data AS (
    -- –°–æ–±–∏—Ä–∞—é –¥–∞–Ω–Ω—ã–µ –ø–æ –∫–æ–≥–æ—Ä—Ç–∞–º (–≥–æ–¥ –≤—ã–¥–∞—á–∏ –∫—Ä–µ–¥–∏—Ç–∞)
    SELECT 
        perf.issue_year as cohort_year,
        p.grade,
        perf.outcome,
        p.loan_amount,
        p.interest_rate,
        b.debt_to_income,
        b.fico_low
    FROM fact_loan_performance perf
    INNER JOIN dim_loan_products p ON perf.loan_id = p.loan_id
    INNER JOIN dim_borrowers b ON perf.loan_id = b.loan_id
    WHERE perf.outcome IN ('Good', 'Bad')
        AND perf.issue_year IS NOT NULL  -- –∏—Å–∫–ª—é—á–∞—é —Å—Ç—Ä–æ–∫–∏ –±–µ–∑ –≥–æ–¥–∞
)
-- –ì—Ä—É–ø–ø–∏—Ä—É—é –ø–æ –≥–æ–¥—É –∏ —Ä–µ–π—Ç–∏–Ω–≥—É
SELECT 
    cohort_year,
    grade,
    COUNT(*) as total_loans,
    
    -- –°—á–∏—Ç–∞—é –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –¥–µ—Ñ–æ–ª—Ç–æ–≤
    SUM(CASE WHEN outcome = 'Bad' THEN 1 ELSE 0 END) as defaults,
    
    -- –°—á–∏—Ç–∞—é –ø—Ä–æ—Ü–µ–Ω—Ç –¥–µ—Ñ–æ–ª—Ç–æ–≤
    ROUND(100.0 * SUM(CASE WHEN outcome = 'Bad' THEN 1 ELSE 0 END) / COUNT(*), 2) 
        as default_rate,
    
    -- –°—Ä–µ–¥–Ω–∏–µ —Ö–∞—Ä–∞–∫—Ç–µ—Ä–∏—Å—Ç–∏–∫–∏ –∫–æ–≥–æ—Ä—Ç—ã
    ROUND(AVG(loan_amount), 0) as avg_loan_amount,
    ROUND(AVG(interest_rate), 2) as avg_interest_rate,
    ROUND(AVG(debt_to_income), 2) as avg_dti,
    ROUND(AVG(fico_low), 0) as avg_fico
    
FROM cohort_data
GROUP BY cohort_year, grade
ORDER BY cohort_year, grade;
"""

# –í—ã–ø–æ–ª–Ω—è—é –∑–∞–ø—Ä–æ—Å
result2 = pd.read_sql_query(query2, conn)

print("\nüéØ Results: Cohort Analysis (First 20 rows)")
print("-"*80)
print(result2.head(20).to_string(index=False))

# –°—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞ –ø–æ –≥–æ–¥–∞–º (–±–µ–∑ —Ä–∞–∑–±–∏–≤–∫–∏ –ø–æ grade)
print("\n\nüìà SUMMARY: Default Rate by Year (All Grades)")
print("-"*80)

query2_summary = """
SELECT 
    perf.issue_year as year,
    COUNT(*) as total_loans,
    ROUND(100.0 * SUM(CASE WHEN perf.outcome = 'Bad' THEN 1 ELSE 0 END) / COUNT(*), 2) 
        as default_rate,
    ROUND(AVG(p.loan_amount), 0) as avg_loan_amount
FROM fact_loan_performance perf
INNER JOIN dim_loan_products p ON perf.loan_id = p.loan_id
WHERE perf.outcome IN ('Good', 'Bad')
    AND perf.issue_year IS NOT NULL
GROUP BY perf.issue_year
ORDER BY perf.issue_year;
"""

summary = pd.read_sql_query(query2_summary, conn)
print(summary.to_string(index=False))

print("\nüí° Key Insights:")
# –ù–∞—Ö–æ–∂—É –≥–æ–¥ —Å –Ω–∞–∏–±–æ–ª—å—à–∏–º –¥–µ—Ñ–æ–ª—Ç–æ–º
max_default_year = summary.loc[summary['default_rate'].idxmax()]
print(f"   ‚Ä¢ Highest default rate: {max_default_year['year']} ({max_default_year['default_rate']:.2f}%)")

# –ù–∞—Ö–æ–∂—É –≥–æ–¥ —Å –Ω–∞–∏–º–µ–Ω—å—à–∏–º –¥–µ—Ñ–æ–ª—Ç–æ–º
min_default_year = summary.loc[summary['default_rate'].idxmin()]
print(f"   ‚Ä¢ Lowest default rate: {min_default_year['year']} ({min_default_year['default_rate']:.2f}%)")

# –¢—Ä–µ–Ω–¥ –∑–∞ –ø–æ—Å–ª–µ–¥–Ω–∏–µ –≥–æ–¥—ã
recent_years = summary[summary['year'] >= 2015]
print(f"   ‚Ä¢ Recent years (2015-2018) avg default: {recent_years['default_rate'].mean():.2f}%")

conn.close()

print("\n" + "="*80)
print("‚úÖ QUERY 2 COMPLETED!")
print("="*80)

================================================================================
üìä SQL QUERY 2: COHORT ANALYSIS - Default Rate by Year
================================================================================

üéØ Results: Cohort Analysis (First 20 rows)
--------------------------------------------------------------------------------
 cohort_year grade  total_loans  defaults  default_rate  avg_loan_amount  avg_interest_rate  avg_dti  avg_fico
      2007.0     A           74         4          5.41           4946.0               7.75     4.72     767.0
      2007.0     B           98        16         16.33           8338.0               9.42     8.65     719.0
      2007.0     C          141        34         24.11           8276.0              10.85    10.90     691.0
      2007.0     D           99        31         31.31           8006.0              12.55    11.69     669.0
      2007.0     E          100        31         31.00           8138.0              14.13    12.32     653.0
      2007.0     F           52        25         48.08          11851.0              15.58    13.53     655.0
      2007.0     G           35        17         48.57          10848.0              17.36    17.81     645.0
      2008.0     A          318        19          5.97           6235.0               8.36     8.04     756.0
      2008.0     B          594       103         17.34           9175.0              10.37    10.90     720.0
      2008.0     C          580       122         21.03           8840.0              11.83    12.99     689.0
      2008.0     D          419       111         26.49           8972.0              13.36    14.63     673.0
      2008.0     E          285        75         26.32           8989.0              14.81    16.44     662.0
      2008.0     F          111        38         34.23          11138.0              16.29    20.83     662.0
      2008.0     G           86        28         32.56          11654.0              18.11    22.17     653.0
      2009.0     A         1203        81          6.73           7232.0               8.64    10.71     756.0
      2009.0     B         1445       176         12.18          10862.0              11.79    12.67     725.0
      2009.0     C         1348       206         15.28           9779.0              13.32    13.52     697.0
      2009.0     D          817       147         17.99          10649.0              14.93    13.00     685.0
      2009.0     E          308        67         21.75          11900.0              16.49    12.72     679.0
      2009.0     F          105        28         26.67          12650.0              18.24    11.90     680.0


üìà SUMMARY: Default Rate by Year (All Grades)
--------------------------------------------------------------------------------
  year  total_loans  default_rate  avg_loan_amount
2007.0          599         26.38           8268.0
2008.0         2393         20.73           8825.0
2009.0         5281         13.69           9833.0
2010.0        12537         14.01          10528.0
2011.0        21721         15.18          12048.0
2012.0        53367         16.20          13462.0
2013.0       134804         15.60          14707.0
2014.0       223103         18.45          14583.0
2015.0       375544         20.18          14642.0
2016.0       293067         23.28          14467.0
2017.0       169138         23.14          14298.0
2018.0        56167         15.76          14872.0

üí° Key Insights:
   ‚Ä¢ Highest default rate: 2007.0 (26.38%)
   ‚Ä¢ Lowest default rate: 2009.0 (13.69%)
   ‚Ä¢ Recent years (2015-2018) avg default: 20.59%

================================================================================
‚úÖ QUERY 2 COMPLETED!
================================================================================

In [1]:
import sqlite3
import pandas as pd

print("\n" + "="*80)
print("üìä SQL QUERY 3: PORTFOLIO PROFITABILITY ANALYSIS")
print("="*80)

# –ü–æ–¥–∫–ª—é—á–∞—é—Å—å –∫ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö
conn = sqlite3.connect('lending_club.db')

# PORTFOLIO PROFITABILITY: –ê–Ω–∞–ª–∏–∑–∏—Ä—É—é –ø—Ä–∏–±—ã–ª—å–Ω–æ—Å—Ç—å —Å–µ–≥–º–µ–Ω—Ç–æ–≤ —Å —É—á–µ—Ç–æ–º –ø–æ–ª–Ω–æ–≥–æ —Å—Ä–æ–∫–∞ –∫—Ä–µ–¥–∏—Ç–∞
query3 = """
WITH loan_economics AS (
    -- –†–∞—Å—Å—á–∏—Ç—ã–≤–∞—é —ç–∫–æ–Ω–æ–º–∏–∫—É –∫–∞–∂–¥–æ–≥–æ –∫—Ä–µ–¥–∏—Ç–∞ —Å —É—á–µ—Ç–æ–º –ø–æ–ª–Ω–æ–≥–æ —Å—Ä–æ–∫–∞
    SELECT 
        p.grade,
        p.term,
        p.loan_amount,
        p.interest_rate,
        perf.outcome,
        
        -- –û–ø—Ä–µ–¥–µ–ª—è—é —Å—Ä–æ–∫ –∫—Ä–µ–¥–∏—Ç–∞ –≤ –≥–æ–¥–∞—Ö
        CASE 
            WHEN p.term = ' 36 months' THEN 3.0
            WHEN p.term = ' 60 months' THEN 5.0
        END as loan_term_years,
        
        -- –£–ø—Ä–æ—â–µ–Ω–Ω—ã–π —Ä–∞—Å—á–µ—Ç total interest –∑–∞ –≤–µ—Å—å —Å—Ä–æ–∫
        -- (–ª–∏–Ω–µ–π–Ω–æ–µ –ø—Ä–∏–±–ª–∏–∂–µ–Ω–∏–µ –¥–ª—è –∞–Ω–∞–ª–∏—Ç–∏—á–µ—Å–∫–∏—Ö —Ü–µ–ª–µ–π)
        p.loan_amount * (p.interest_rate / 100.0) * 
            CASE 
                WHEN p.term = ' 36 months' THEN 3.0
                WHEN p.term = ' 60 months' THEN 5.0
            END as total_interest_potential,
        
        -- –§–∞–∫—Ç–∏—á–µ—Å–∫–∏–π –¥–æ—Ö–æ–¥ (—Ç–æ–ª—å–∫–æ –µ—Å–ª–∏ –∫—Ä–µ–¥–∏—Ç –≤–µ—Ä–Ω—É–ª–∏)
        CASE 
            WHEN perf.outcome = 'Good' THEN 
                p.loan_amount * (p.interest_rate / 100.0) * 
                    CASE 
                        WHEN p.term = ' 36 months' THEN 3.0
                        WHEN p.term = ' 60 months' THEN 5.0
                    END
            ELSE 0
        END as actual_revenue,
        
        -- –§–∞–∫—Ç–∏—á–µ—Å–∫–∏–µ –ø–æ—Ç–µ—Ä–∏ (–ø–æ–ª–Ω–∞—è —Å—É–º–º–∞ –∫—Ä–µ–¥–∏—Ç–∞ –ø—Ä–∏ –¥–µ—Ñ–æ–ª—Ç–µ)
        CASE 
            WHEN perf.outcome = 'Bad' THEN p.loan_amount
            ELSE 0
        END as actual_loss
        
    FROM fact_loan_performance perf
    INNER JOIN dim_loan_products p ON perf.loan_id = p.loan_id
    WHERE perf.outcome IN ('Good', 'Bad')
),
segment_metrics AS (
    -- –ê–≥—Ä–µ–≥–∏—Ä—É—é –º–µ—Ç—Ä–∏–∫–∏ –ø–æ —Å–µ–≥–º–µ–Ω—Ç–∞–º
    SELECT 
        grade,
        term,
        COUNT(*) as loan_count,
        
        -- –ü–æ–∫–∞–∑–∞—Ç–µ–ª–∏ performance
        ROUND(100.0 * SUM(CASE WHEN outcome = 'Good' THEN 1 ELSE 0 END) / COUNT(*), 2) 
            as success_rate_pct,
        ROUND(100.0 * SUM(CASE WHEN outcome = 'Bad' THEN 1 ELSE 0 END) / COUNT(*), 2) 
            as default_rate_pct,
        
        -- –°—Ä–µ–¥–Ω–∏–µ —Ö–∞—Ä–∞–∫—Ç–µ—Ä–∏—Å—Ç–∏–∫–∏
        ROUND(AVG(loan_amount), 0) as avg_loan_amount,
        ROUND(AVG(interest_rate), 2) as avg_interest_rate,
        AVG(loan_term_years) as avg_term_years,
        
        -- –§–∏–Ω–∞–Ω—Å–æ–≤—ã–µ –º–µ—Ç—Ä–∏–∫–∏ (per loan average)
        ROUND(AVG(actual_revenue), 0) as avg_revenue_per_loan,
        ROUND(AVG(actual_loss), 0) as avg_loss_per_loan,
        ROUND(AVG(actual_revenue - actual_loss), 0) as avg_profit_per_loan,
        
        -- ROI calculation
        ROUND(100.0 * AVG(actual_revenue - actual_loss) / AVG(loan_amount), 2) 
            as roi_percent,
        
        -- Portfolio level metrics
        ROUND(SUM(actual_revenue) / 1000000.0, 2) as total_revenue_mm,
        ROUND(SUM(actual_loss) / 1000000.0, 2) as total_loss_mm,
        ROUND(SUM(actual_revenue - actual_loss) / 1000000.0, 2) as total_profit_mm
        
    FROM loan_economics
    GROUP BY grade, term
),
segment_ranking AS (
    -- –î–æ–±–∞–≤–ª—è—é —Ä–∞–Ω–∫–∏–Ω–≥–∏ –∏ –∫–≤–∞—Ä—Ç–∏–ª–∏ –¥–ª—è —Å—Ç—Ä–∞—Ç–∏—Ñ–∏–∫–∞—Ü–∏–∏
    SELECT 
        *,
        
        -- –†–∞–Ω–∂–∏—Ä—É—é –ø–æ –∞–±—Å–æ–ª—é—Ç–Ω–æ–π –ø—Ä–∏–±—ã–ª—å–Ω–æ—Å—Ç–∏
        RANK() OVER (ORDER BY total_profit_mm DESC) as profit_rank,
        
        -- –†–∞–Ω–∂–∏—Ä—É—é –ø–æ —ç—Ñ—Ñ–µ–∫—Ç–∏–≤–Ω–æ—Å—Ç–∏ (ROI)
        RANK() OVER (ORDER BY roi_percent DESC) as roi_rank,
        
        -- –†–∞–Ω–∂–∏—Ä—É—é –ø–æ –æ–±—ä–µ–º—É
        RANK() OVER (ORDER BY loan_count DESC) as volume_rank,
        
        -- –ö–≤–∞—Ä—Ç–∏–ª–∏ –ø–æ –æ–±—ä–µ–º—É –¥–ª—è –ø–æ–Ω–∏–º–∞–Ω–∏—è –∫–æ–Ω—Ü–µ–Ω—Ç—Ä–∞—Ü–∏–∏ –ø–æ—Ä—Ç—Ñ–µ–ª—è
        NTILE(4) OVER (ORDER BY loan_count DESC) as volume_quartile
        
    FROM segment_metrics
)
-- –§–∏–Ω–∞–ª—å–Ω—ã–π output —Å –∞–Ω–∞–ª–∏—Ç–∏—á–µ—Å–∫–æ–π –∏–Ω—Ç–µ—Ä–ø—Ä–µ—Ç–∞—Ü–∏–µ–π
SELECT 
    grade,
    term,
    loan_count,
    default_rate_pct,
    avg_loan_amount,
    avg_interest_rate,
    avg_term_years,
    avg_profit_per_loan,
    roi_percent,
    total_profit_mm,
    profit_rank,
    roi_rank,
    volume_quartile,
    
    -- –°—Ç—Ä–∞—Ç–µ–≥–∏—á–µ—Å–∫–∞—è –∫–∞—Ç–µ–≥–æ—Ä–∏–∑–∞—Ü–∏—è 
    CASE 
        -- High performers: –≤—ã—Å–æ–∫–∞—è –ø—Ä–∏–±—ã–ª—å –ò —Ö–æ—Ä–æ—à–∏–π ROI
        WHEN roi_percent >= 40 AND total_profit_mm >= 100 THEN 'Star - Scale Aggressively'
        
        -- Cash cows: –±–æ–ª—å—à–æ–π –æ–±—ä–µ–º, —Å—Ç–∞–±–∏–ª—å–Ω–∞—è –ø—Ä–∏–±—ã–ª—å
        WHEN volume_quartile = 1 AND roi_percent >= 20 THEN 'Core - Maintain & Optimize'
        
        -- Question marks: —Ö–æ—Ä–æ—à–∏–π ROI –Ω–æ –º–∞–ª—ã–π –æ–±—ä–µ–º
        WHEN roi_percent >= 40 AND loan_count < 50000 THEN 'Growth - Expand Carefully'
        
        -- Acceptable: –ø—Ä–∏–±—ã–ª—å–Ω—ã–µ –Ω–æ –Ω–µ –≤—ã–¥–∞—é—â–∏–µ—Å—è
        WHEN roi_percent >= 15 AND roi_percent < 40 THEN 'Acceptable - Monitor'
        
        -- Underperformers: –Ω–∏–∑–∫–∞—è –ø—Ä–∏–±—ã–ª—å–Ω–æ—Å—Ç—å
        WHEN roi_percent < 15 THEN 'Review - Reassess Strategy'
        
        ELSE 'Review'
    END as strategic_category
    
FROM segment_ranking
ORDER BY roi_percent DESC, total_profit_mm DESC;
"""

# –í—ã–ø–æ–ª–Ω—è—é –∑–∞–ø—Ä–æ—Å
result3 = pd.read_sql_query(query3, conn)

print("\n Portfolio Profitability by Segment (Sorted by ROI)")
print("-"*80)
print(result3.to_string(index=False))

# === ANALYTICAL INSIGHTS ===
print("\n\n" + "="*80)
print(" EXECUTIVE SUMMARY")
print("="*80)

total_portfolio_profit = result3['total_profit_mm'].sum()
total_portfolio_volume = result3['loan_count'].sum()
weighted_avg_roi = (result3['avg_profit_per_loan'] * result3['loan_count']).sum() / result3['loan_count'].sum()
weighted_avg_roi_pct = (weighted_avg_roi / result3['avg_loan_amount'].mean()) * 100

print(f"\nPortfolio Overview:")
print(f"   ‚Ä¢ Total Segments Analyzed: {len(result3)}")
print(f"   ‚Ä¢ Total Loan Volume: {total_portfolio_volume:,}")
print(f"   ‚Ä¢ Total Portfolio Profit: ${total_portfolio_profit:,.1f}M")
print(f"   ‚Ä¢ Portfolio-Weighted Avg Profit/Loan: ${weighted_avg_roi:,.0f}")
print(f"   ‚Ä¢ Portfolio-Weighted ROI: {weighted_avg_roi_pct:.1f}%")

# Segment Distribution
print(f"\n Strategic Segmentation:")
strategy_dist = result3['strategic_category'].value_counts()
for category, count in strategy_dist.items():
    pct = (count / len(result3)) * 100
    print(f"   ‚Ä¢ {category}: {count} segments ({pct:.0f}%)")

# Top Performers
print(f"\n Top 3 Performers (by ROI):")
top3 = result3.nsmallest(3, 'roi_rank')
for idx, row in top3.iterrows():
    print(f"   {row['roi_rank']}. Grade {row['grade']}, {row['term'].strip()}")
    print(f"      ROI: {row['roi_percent']:.1f}% | Profit/Loan: ${row['avg_profit_per_loan']:,} | Volume: {row['loan_count']:,}")
    print(f"      Default Rate: {row['default_rate_pct']:.1f}% | Avg Rate: {row['avg_interest_rate']:.2f}%")

# Portfolio Concentration
print(f"\n Portfolio Concentration Analysis:")
q1_segments = result3[result3['volume_quartile'] == 1]
q1_volume_pct = (q1_segments['loan_count'].sum() / total_portfolio_volume) * 100
q1_profit_pct = (q1_segments['total_profit_mm'].sum() / total_portfolio_profit) * 100
print(f"   ‚Ä¢ Top Quartile (Q1): {len(q1_segments)} segments")
print(f"   ‚Ä¢ Q1 Volume Share: {q1_volume_pct:.1f}%")
print(f"   ‚Ä¢ Q1 Profit Contribution: {q1_profit_pct:.1f}%")

# Risk-Return Trade-off
print(f"\n Risk-Return Observation:")
high_risk = result3[result3['default_rate_pct'] >= 40]
if len(high_risk) > 0:
    avg_roi_high_risk = high_risk['roi_percent'].mean()
    print(f"   ‚Ä¢ Segments with 40%+ default rate: {len(high_risk)}")
    print(f"   ‚Ä¢ Their average ROI: {avg_roi_high_risk:.1f}%")
    print(f"   ‚Ä¢ Interpretation: High rates ({high_risk['avg_interest_rate'].mean():.1f}% avg) compensate for elevated risk")

# Term Analysis
print(f"\n Term Structure Analysis:")
term_comparison = result3.groupby('term').agg({
    'loan_count': 'sum',
    'roi_percent': 'mean',
    'total_profit_mm': 'sum'
}).round(2)
print(term_comparison)

conn.close()

print("\n" + "="*80)
print("‚úÖ ANALYSIS COMPLETED")
print("="*80)

================================================================================
üìä SQL QUERY 3: PORTFOLIO PROFITABILITY ANALYSIS
================================================================================

 Portfolio Profitability by Segment (Sorted by ROI)
--------------------------------------------------------------------------------
grade       term  loan_count  default_rate_pct  avg_loan_amount  avg_interest_rate  avg_term_years  avg_profit_per_loan  roi_percent  total_profit_mm  profit_rank  roi_rank  volume_quartile         strategic_category
    B  60 months       47808             18.02          20394.0              10.70             5.0               5258.0        25.78           251.40            6         1                2       Acceptable - Monitor
    C  60 months      105553             27.53          19807.0              14.27             5.0               4925.0        24.87           519.88            2         2                2       Acceptable - Monitor
    A  60 months        6289             10.61          19299.0               7.87             5.0               4665.0        24.17            29.34           12         3                4       Acceptable - Monitor
    D  60 months       74941             36.28          20094.0              17.79             5.0               4397.0        21.88           329.49            5         4                2       Acceptable - Monitor
    E  60 months       57710             42.10          20838.0              21.07             5.0               4229.0        20.30           244.07            7         5                2       Acceptable - Monitor
    G  60 months        7638             50.31          21750.0              27.57             5.0               4069.0        18.71            31.08           10         6                3       Acceptable - Monitor
    F  60 months       24811             47.29          21372.0              24.89             5.0               3914.0        18.31            97.11            9         7                3       Acceptable - Monitor
    B  36 months      345203             12.76          12241.0              10.68             3.0               1851.0        15.12           639.01            1         8                1       Acceptable - Monitor
    A  36 months      228864              5.92          13740.0               7.09             3.0               1950.0        14.19           446.19            3         9                1 Review - Reassess Strategy
    C  36 months      276634             20.50          12031.0              13.92             3.0               1453.0        12.08           402.05            4        10                1 Review - Reassess Strategy
    D  36 months      126650             26.89          12381.0              17.66             3.0               1198.0         9.68           151.77            8        11                1 Review - Reassess Strategy
    E  36 months       36454             32.64          12389.0              21.16             3.0                808.0         6.52            29.46           11        12                3 Review - Reassess Strategy
    F  36 months        7484             38.05          11279.0              24.83             3.0                232.0         2.06             1.74           13        13                4 Review - Reassess Strategy
    G  36 months        1682             46.67          14305.0              27.41             3.0               -662.0        -4.63            -1.11           14        14                4 Review - Reassess Strategy


================================================================================
 EXECUTIVE SUMMARY
================================================================================

Portfolio Overview:
   ‚Ä¢ Total Segments Analyzed: 14
   ‚Ä¢ Total Loan Volume: 1,347,721
   ‚Ä¢ Total Portfolio Profit: $3,171.5M
   ‚Ä¢ Portfolio-Weighted Avg Profit/Loan: $2,353
   ‚Ä¢ Portfolio-Weighted ROI: 14.2%

 Strategic Segmentation:
   ‚Ä¢ Acceptable - Monitor: 8 segments (57%)
   ‚Ä¢ Review - Reassess Strategy: 6 segments (43%)

 Top 3 Performers (by ROI):
   1. Grade B, 60 months
      ROI: 25.8% | Profit/Loan: $5,258.0 | Volume: 47,808
      Default Rate: 18.0% | Avg Rate: 10.70%
   2. Grade C, 60 months
      ROI: 24.9% | Profit/Loan: $4,925.0 | Volume: 105,553
      Default Rate: 27.5% | Avg Rate: 14.27%
   3. Grade A, 60 months
      ROI: 24.2% | Profit/Loan: $4,665.0 | Volume: 6,289
      Default Rate: 10.6% | Avg Rate: 7.87%

 Portfolio Concentration Analysis:
   ‚Ä¢ Top Quartile (Q1): 4 segments
   ‚Ä¢ Q1 Volume Share: 72.5%
   ‚Ä¢ Q1 Profit Contribution: 51.7%

 Risk-Return Observation:
   ‚Ä¢ Segments with 40%+ default rate: 4
   ‚Ä¢ Their average ROI: 13.2%
   ‚Ä¢ Interpretation: High rates (25.2% avg) compensate for elevated risk

 Term Structure Analysis:
           loan_count  roi_percent  total_profit_mm
term
36 months     1022971         7.86          1669.11
60 months      324750        22.00          1502.37

================================================================================
‚úÖ ANALYSIS COMPLETED
================================================================================

In [15]:
import sqlite3
import pandas as pd

print("üì§ –°–æ–∑–¥–∞—é Excel —Ñ–∞–π–ª...")

conn = sqlite3.connect('lending_club.db')

# Query 1: Portfolio Profitability
query1 = """
WITH loan_economics AS (
    SELECT 
        p.grade,
        p.term,
        p.loan_amount,
        p.interest_rate,
        perf.outcome,
        
        CASE WHEN p.term = ' 36 months' THEN 3.0 ELSE 5.0 END as loan_term_years,
        
        CASE 
            WHEN perf.outcome = 'Good' THEN 
                p.loan_amount * (p.interest_rate / 100.0) * 
                    CASE WHEN p.term = ' 36 months' THEN 3.0 ELSE 5.0 END
            ELSE 0
        END as revenue,
        
        CASE WHEN perf.outcome = 'Bad' THEN p.loan_amount ELSE 0 END as loss
        
    FROM fact_loan_performance perf
    INNER JOIN dim_loan_products p ON perf.loan_id = p.loan_id
    WHERE perf.outcome IN ('Good', 'Bad')
)
SELECT 
    grade,
    term,
    COUNT(*) as loan_count,
    ROUND(100.0 * SUM(CASE WHEN outcome = 'Good' THEN 1 ELSE 0 END) / COUNT(*), 2) as success_rate,
    ROUND(100.0 * SUM(CASE WHEN outcome = 'Bad' THEN 1 ELSE 0 END) / COUNT(*), 2) as default_rate,
    ROUND(AVG(loan_amount), 0) as avg_loan_amount,
    ROUND(AVG(interest_rate), 2) as avg_interest_rate,
    ROUND(AVG(revenue - loss), 0) as avg_profit_per_loan,
    ROUND(100.0 * AVG(revenue - loss) / AVG(loan_amount), 2) as roi_percent,
    ROUND(SUM(revenue - loss) / 1000000.0, 2) as total_profit_mm
FROM loan_economics
GROUP BY grade, term;
"""

df1 = pd.read_sql_query(query1, conn)

# Query 2: Risk Scoring
query2 = """
WITH risk_factors AS (
    SELECT 
        perf.outcome,
        CASE 
            WHEN p.grade IN ('A', 'B') THEN 1
            WHEN p.grade IN ('C', 'D') THEN 2
            WHEN p.grade IN ('E', 'F') THEN 3
            ELSE 4
        END as grade_risk_score,
        CASE 
            WHEN b.debt_to_income < 10 THEN 1
            WHEN b.debt_to_income < 20 THEN 2
            WHEN b.debt_to_income < 30 THEN 3
            ELSE 4
        END as dti_risk_score,
        CASE 
            WHEN b.fico_low >= 750 THEN 1
            WHEN b.fico_low >= 700 THEN 2
            WHEN b.fico_low >= 650 THEN 3
            ELSE 4
        END as fico_risk_score,
        CASE WHEN p.term = ' 36 months' THEN 1 ELSE 2 END as term_risk_score
    FROM fact_loan_performance perf
    INNER JOIN dim_loan_products p ON perf.loan_id = p.loan_id
    INNER JOIN dim_borrowers b ON perf.loan_id = b.loan_id
    WHERE perf.outcome IN ('Good', 'Bad')
)
SELECT 
    (grade_risk_score + dti_risk_score + fico_risk_score + term_risk_score) as composite_risk_score,
    COUNT(*) as loan_count,
    ROUND(100.0 * SUM(CASE WHEN outcome = 'Bad' THEN 1 ELSE 0 END) / COUNT(*), 2) as default_rate
FROM risk_factors
GROUP BY composite_risk_score
ORDER BY composite_risk_score;
"""

df2 = pd.read_sql_query(query2, conn)

# Query 3: Cohort Analysis  
query3 = """
SELECT 
    perf.issue_year as cohort_year,
    p.grade,
    COUNT(*) as total_loans,
    ROUND(100.0 * SUM(CASE WHEN perf.outcome = 'Bad' THEN 1 ELSE 0 END) / COUNT(*), 2) as default_rate,
    ROUND(AVG(p.loan_amount), 0) as avg_loan_amount
FROM fact_loan_performance perf
INNER JOIN dim_loan_products p ON perf.loan_id = p.loan_id
WHERE perf.outcome IN ('Good', 'Bad') AND perf.issue_year IS NOT NULL
GROUP BY perf.issue_year, p.grade;
"""

df3 = pd.read_sql_query(query3, conn)
conn.close()

# –°–æ–∑–¥–∞—ë–º Excel —Å 3 –ª–∏—Å—Ç–∞–º–∏
with pd.ExcelWriter('lending_club_data.xlsx', engine='openpyxl') as writer:
    df1.to_excel(writer, sheet_name='Portfolio', index=False)
    df2.to_excel(writer, sheet_name='Risk', index=False)
    df3.to_excel(writer, sheet_name='Cohort', index=False)

print("\n‚úÖ –§–ê–ô–õ –°–û–ó–î–ê–ù: lending_club_data.xlsx")
print("\n–õ–∏—Å—Ç—ã –≤ —Ñ–∞–π–ª–µ:")
print("  1. Portfolio (14 —Å—Ç—Ä–æ–∫)")
print("  2. Risk (10 —Å—Ç—Ä–æ–∫)")
print("  3. Cohort (84 —Å—Ç—Ä–æ–∫–∏)")
print("\n–¢–µ–ø–µ—Ä—å –∏–º–ø–æ—Ä—Ç–∏—Ä—É–π —ç—Ç–æ—Ç —Ñ–∞–π–ª –≤ Power BI!")

üì§ –°–æ–∑–¥–∞—é Excel —Ñ–∞–π–ª...

‚úÖ –§–ê–ô–õ –°–û–ó–î–ê–ù: lending_club_data.xlsx

–õ–∏—Å—Ç—ã –≤ —Ñ–∞–π–ª–µ:
  1. Portfolio (14 —Å—Ç—Ä–æ–∫)
  2. Risk (10 —Å—Ç—Ä–æ–∫)
  3. Cohort (84 —Å—Ç—Ä–æ–∫–∏)

–¢–µ–ø–µ—Ä—å –∏–º–ø–æ—Ä—Ç–∏—Ä—É–π —ç—Ç–æ—Ç —Ñ–∞–π–ª –≤ Power BI!